***NETFLIX TV SHOWS & MOVIES***

 importing csv files

In [ ]:
import pandas as pd# IMPORTING THE LIBRARY

 Read and load csv file

In [ ]:
data = pd.read_csv("/content/netflix_titles.csv")#READING THE DATA
data.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

Finding missing values

In [ ]:
data.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

Removing duplicate values

In [ ]:
data.drop_duplicates(inplace=True)

Filling missing values

In [ ]:
data['director']= data['director'].fillna('Not specified')

In [ ]:
data['cast']=data['cast'].fillna('Not specified')

In [ ]:
data['country']=data['country'].fillna('Unknown')

Convert date_added to datetime

In [ ]:
data['date_added']=pd.to_datetime(data['date_added'],format = 'mixed',errors='coerce')
data['date_added']=data['date_added'].fillna(method='ffill')

<ipython-input-17-160267ab6b45>:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data['date_added']=data['date_added'].fillna(method='ffill')

Filling missing values

In [ ]:
data['rating']=data['rating'].fillna('Not specified')

Duration cleaning

In [ ]:
data['duration']=data['duration'].fillna('0 min')

In [ ]:
extracted = data['duration'].str.extract('(\d+)')
data['duration_int'] = extracted.fillna(0).astype(int)


data['duration_type']=data['duration'].str.extract('(a-zA-Z)+').iloc[:,0].str.strip()

Text cleaning

In [ ]:
data['type']=data['type'].str.lower().str.strip()

In [ ]:
data['rating']=data['rating'].str.upper().str.strip()

In [ ]:
data['listed_in']=data['listed_in'].str.split(', ')

In [ ]:
data['country']=data['country'].str.split(', ')

In [ ]:
data['cast']=data['cast'].str.split(' ,')

print data

In [ ]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   show_id        8807 non-null   object
 1   type           8807 non-null   object
 2   title          8807 non-null   object
 3   director       8807 non-null   object
 4   cast           0 non-null      float64
 5   country        0 non-null      float64
 6   date_added     8807 non-null   datetime64[ns]
 7   release_year   8807 non-null   int64
 8   rating         8807 non-null   object
 9   duration       8807 non-null   object
 10  listed_in      8807 non-null   object
 11  description    8807 non-null   object
 12  duration_int   8807 non-null   int64
 13  duration_type  0 non-null      object
dtypes: datetime64[ns](1), float64(2), int64(2), object(9)
memory usage: 963.4+ KB
None

verifying if data is cleaned

In [ ]:
print(data.isnull().sum())

show_id             0
type                0
title               0
director            0
cast             8807
country          8807
date_added          0
release_year        0
rating              0
duration            0
listed_in           0
description         0
duration_int        0
duration_type    8807
dtype: int64

data not cleaned

In [ ]:
data.loc[data['duration_type'].isna(), 'duration'].unique()

array(['90 min', '2 Seasons', '1 Season', '91 min', '125 min',
       '9 Seasons', '104 min', '127 min', '4 Seasons', '67 min', '94 min',
       '5 Seasons', '161 min', '61 min', '166 min', '147 min', '103 min',
       '97 min', '106 min', '111 min', '3 Seasons', '110 min', '105 min',
       '96 min', '124 min', '116 min', '98 min', '23 min', '115 min',
       '122 min', '99 min', '88 min', '100 min', '6 Seasons', '102 min',
       '93 min', '95 min', '85 min', '83 min', '113 min', '13 min',
       '182 min', '48 min', '145 min', '87 min', '92 min', '80 min',
       '117 min', '128 min', '119 min', '143 min', '114 min', '118 min',
       '108 min', '63 min', '121 min', '142 min', '154 min', '120 min',
       '82 min', '109 min', '101 min', '86 min', '229 min', '76 min',
       '89 min', '156 min', '112 min', '107 min', '129 min', '135 min',
       '136 min', '165 min', '150 min', '133 min', '70 min', '84 min',
       '140 min', '78 min', '7 Seasons', '64 min', '59 min', '139 min',
       '69 min', '148 min', '189 min', '141 min', '130 min', '138 min',
       '81 min', '132 min', '10 Seasons', '123 min', '65 min', '68 min',
       '66 min', '62 min', '74 min', '131 min', '39 min', '46 min',
       '38 min', '8 Seasons', '17 Seasons', '126 min', '155 min',
       '159 min', '137 min', '12 min', '273 min', '36 min', '34 min',
       '77 min', '60 min', '49 min', '58 min', '72 min', '204 min',
       '212 min', '25 min', '73 min', '29 min', '47 min', '32 min',
       '35 min', '71 min', '149 min', '33 min', '15 min', '54 min',
       '224 min', '162 min', '37 min', '75 min', '79 min', '55 min',
       '158 min', '164 min', '173 min', '181 min', '185 min', '21 min',
       '24 min', '51 min', '151 min', '42 min', '22 min', '134 min',
       '177 min', '13 Seasons', '52 min', '14 min', '53 min', '8 min',
       '57 min', '28 min', '50 min', '9 min', '26 min', '45 min',
       '171 min', '27 min', '44 min', '146 min', '20 min', '157 min',
       '17 min', '203 min', '41 min', '30 min', '194 min', '15 Seasons',
       '233 min', '237 min', '230 min', '195 min', '253 min', '152 min',
       '190 min', '160 min', '208 min', '180 min', '144 min', '5 min',
       '174 min', '170 min', '192 min', '209 min', '187 min', '172 min',
       '16 min', '186 min', '11 min', '193 min', '176 min', '56 min',
       '169 min', '40 min', '10 min', '3 min', '168 min', '312 min',
       '153 min', '214 min', '31 min', '163 min', '19 min', '12 Seasons',
       'Not known', '179 min', '11 Seasons', '43 min', '200 min',
       '196 min', '167 min', '178 min', '228 min', '18 min', '205 min',
       '201 min', '191 min'], dtype=object)

To analyze duration numerically

In [ ]:
data['duration'] = data['duration'].fillna('0 min')  # or '1 Season' if most are shows

# Re-extract
data['duration_int'] = data['duration'].str.extract('(\d+)').fillna(0).astype(int)
data['duration_type'] = data['duration'].str.extract('([a-zA-Z]+)').iloc[:, 0].str.strip()

filling missing values

In [ ]:
data['cast'] = data['cast'].fillna('Not Specified')
data['country'] = data['country'].fillna('Unknown')

check for data cleaned or not

In [ ]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   show_id        0 non-null      object
 1   type           0 non-null      object
 2   title          0 non-null      object
 3   director       0 non-null      object
 4   cast           0 non-null      float64
 5   country        0 non-null      float64
 6   date_added     0 non-null      datetime64[ns]
 7   release_year   0 non-null      int64
 8   rating         0 non-null      object
 9   duration       0 non-null      object
 10  listed_in      0 non-null      object
 11  description    0 non-null      object
 12  duration_int   0 non-null      int64
 13  duration_type  0 non-null      object
dtypes: datetime64[ns](1), float64(2), int64(2), object(9)
memory usage: 0.0+ bytes
None

In [ ]:
print(data.isnull().sum())

show_id          0
type             0
title            0
director         0
cast             0
country          0
date_added       0
release_year     0
rating           0
duration         0
listed_in        0
description      0
duration_int     0
duration_type    0
dtype: int64

**DATA CLEANING DONE**

DATA PREPROCESSING

Converts Datatype to categories

In [ ]:
data['type']=data['type'].astype('category')

In [ ]:
data['rating']=data['rating'].astype('category')

In [ ]:
data['duration_type']=data['duration_type'].astype('category')

Counts the no. of times a genre repeats

In [ ]:
data['genres']=data['listed_in'].apply(lambda x:x.split(' , '))

Useful for time based analysis

In [ ]:
data['year_added']=data['date_added'].dt.year

In [ ]:

data['month_added'] = data['date_added'].dt.month

In [ ]:
data['quarter_added'] = data['date_added'].dt.quarter

In [ ]:
print(data.columns)

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description',
       'duration_int', 'duration_type', 'genres', 'year_added', 'month_added',
       'quarter_added'],
      dtype='object')

picks first genre in list

In [ ]:
data['primary_genre'] = data['genres'].apply(lambda x: x[0] if isinstance(x, list) else x)

first country listed

In [ ]:
data['main_country'] = data['country'].apply(lambda x: x.split(',')[0] if pd.notnull(x) else 'Unknown')

Necessary for Data anlysis

In [ ]:
columns_to_keep = [
    'type', 'title', 'release_year', 'rating', 'duration_int',
    'duration_type', 'year_added', 'month_added', 'quarter_added',
    'primary_genre', 'main_country'
]

preprocessed_data = data[columns_to_keep]

cleaned the file and updated it

In [ ]:
data.to_csv("netflix_cleaned.csv", index=False)

File ready for analysis